@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-white:           #FFFFFF;
    --color-gray-0:          #F5F5F5;
    --color-gray-1:          #E6E6E6;
    --color-gray-1-5:        #BBBBBB;
    --color-gray-2:          #BEBEBE;
    --color-gray-3:          #616365;
    --color-light-dark:      #222529; 
    --color-dark:            #23262A;
    --color-dark-shadow:     rgba(0, 0, 0, 0.06);
    --color-red:             #FF7373;
    --color-red-hover:       #ff0000;

    --font-poppins:         'poppins', 'sans-serif';
    
    --font-weight-regular:   400;
    --font-weight-medium:    500;
    --font-weight-semibold:  600;
    --font-weight-bold:      700;
    --font-weight-extrabold: 800;
    
    --font-size-13:          13px;
    --font-size-14:          14px;
    --font-size-16:          16px;
    --font-size-18:          18px;
    --font-size-20:          20px;
    --font-size-45:          45px;
    --font-size-65:          65px;

    --max-width:             1680px;
}

/* GENERAL */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    color: var(--color-dark);
}

@media (min-width: 1600px) {
    .container {
        max-width: var(--max-width);
    }
}

.gradient-gray {
    background: var(--color-gray-1);
    background: linear-gradient(90deg, var(--color-gray-1) 0%, var(--color-gray-0) 100%);
}

.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-left: 2px solid var(--color-white);
    border-top: 2px solid var(--color-white);
}

.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white); 
}

.btn {
    position: relative;
    background-color: var(--color-white);
    color: var(--color-light-dark);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    padding: 1.2rem 3.5rem 1.2rem 3.5rem;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: var(--color-gray-1);
}

/* Top menu start */
.top-menu .top-menu-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Top menu brand */
    .top-menu .top-menu-body .brand a {
        text-decoration: none;
        color: var(--color-light-dark);
        font-family: var(--font-poppins);
        font-weight: var(--font-weight-bold);
        font-size: 35px;
    }
/* Top menu navbar */
    .top-menu .top-menu-body .navbar a {
        text-decoration: none;
        color: var(--color-light-dark);
        font-family: var(--font-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-medium);
        padding: 1rem;
        transition: 0.3s ease-in-out;
    } 
        .top-menu .top-menu-body .navbar a:hover {
            color: var(--color-gray-3);
        }

        .top-menu .top-menu-body .navbar a .navbar-home {
            color: var(--color-red);
            transition: 0.3s ease-in-out;
        }
            .top-menu .top-menu-body .navbar a .navbar-home:hover {
                color: var(--color-red-hover)
            }
/* Top menu checkout links */
    .top-menu .top-menu-body .checkout-links {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        .top-menu .top-menu-body .checkout-links .checkout-links-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--color-white);
            margin: 0.5rem;
            box-shadow: 0 0 6px 4px var(--color-dark-shadow);
            transition: 0.3s ease-in-out;
        }

            .top-menu .top-menu-body .checkout-links .checkout-links-circle:hover {
                background-color: var(--color-gray-1);
            }

                .top-menu .top-menu-body .checkout-links .checkout-links-circle a {
                    color: var(--color-dark);
                }

                    .top-menu .top-menu-body .checkout-links .checkout-links-circle #quantity {
                        position: relative;
                    }
                        .top-menu .top-menu-body .checkout-links .checkout-links-circle #quantity .badge {
                            background-color: var(--color-red);
                            position: absolute;
                            top: -1rem;
                            left: 0.7rem;
                            font-weight: var(--font-weight-medium);
                            transition: 0.3s ease-in-out;
                        }
                            .top-menu .top-menu-body .checkout-links .checkout-links-circle:hover #quantity .badge {
                                background-color: var(--color-red-hover)
                            }


/* showcase start */
.showcase .showcase-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    .showcase .showcase-body .showcase-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 5rem;
    }

        .showcase .showcase-body .img-left {
            margin-left: -120px;
        }
        .showcase .showcase-body .img-right {
            margin-right: -120px;
        }

            .showcase .showcase-body .showcase-text h1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: var(--font-poppins);
                font-size: var(--font-size-65);
                font-weight: var(--font-weight-extrabold);
                color: var(--color-light-dark);
                padding: 1rem;
            }

            .showcase .showcase-body .showcase-text p {
                font-family: var(--font-poppins);
                font-size: var(--font-size-20);
                font-weight: var(--font-weight-regular);
                color: var(--color-light-dark);
                padding: 1rem;
            }

            .showcase .showcase-body .showcase-text .btn-red {
                position: relative;
                background-color: var(--color-red);
                color: var(--color-white);
                font-family: var(--font-poppins);
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-semibold);
                padding: 1.2rem 3.5rem 1.2rem 3.5rem;
                border: none;
                transition: 0.3s ease-in-out;
            }
                .showcase .showcase-body .showcase-text .btn-red:hover {
                    background-color: var(--color-red-hover);
                }

/* webshop info start */
.webshop-info .webshop-info-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}
    /* webshop winter-clearance part */
    .webshop-info .webshop-info-body .webshop-info-body-1 {
        position: relative;
    }
        .webshop-info .webshop-info-body .webshop-info-body-1 h1 {
            position: absolute;
            top: 180px;
            left: 40px;
            font-family: var(--font-poppins);
            font-size: var(--font-size-45);
            font-weight: var(--font-weight-bold);
        }
            .webshop-info .webshop-info-body .webshop-info-body-1 h1 span {
                display: block;
            }
        .webshop-info .webshop-info-body .webshop-info-body-1 p {
            position: absolute;
            top: 320px;
            left: 40px;
            width: 425px;
            height: 75px;
        }
        .webshop-info .webshop-info-body .webshop-info-body-1 button {
            position: absolute;
            top: 420px;
            left: 40px;
            background-color: var(--color-dark);
            color: var(--color-white);
            font-family: var(--font-poppins);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
            padding: 1rem 3rem 1rem 3rem;
            border: none;
            transition: 0.3s ease-in-out;
        }
            .webshop-info .webshop-info-body .webshop-info-body-1 button:hover {
               background-color: var(--color-gray-3); 
            }

    /* webshop new-arrivals part */
    .webshop-info .webshop-info-body .webshop-info-body-2 {
       position: relative; 
    }
        .webshop-info .webshop-info-body .webshop-info-body-2 h1 {
            position: absolute;
            top: 280px;
            left: 40px;
            font-family: var(--font-poppins);
            font-size: var(--font-size-45);
            font-weight: var(--font-weight-bold); 
        }
            .webshop-info .webshop-info-body .webshop-info-body-2 h1 span {
                display: block;
            }
        .webshop-info .webshop-info-body .webshop-info-body-2 button {
            position: absolute;
            top: 420px;
            left: 40px;
            background-color: var(--color-dark);
            color: var(--color-white);
            font-family: var(--font-poppins);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
            padding: 1.2rem 3.5rem 1.2rem 3.5rem;
            border: none;
            transition: 0.3s ease-in-out;
        }
            .webshop-info .webshop-info-body .webshop-info-body-2 button:hover {
                background-color: var(--color-gray-3);
            }

.featured-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-family: var(--font-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--color-light-dark)
}
    .featured-products .container {
        max-width: 1110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .featured-products .container .grid-1 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 1.5rem;
            margin-top: 2.5rem;
        }

    .the-product {
        height: 334px;
        width: 255px;
    }
        .the-product .product-card {
            position: relative;
            height: 210px;
            width: 255px;
            background-color: var(--color-gray-0);
            overflow: hidden;

        }
            .the-product .product-card .rektangeln {
                position: absolute;
                top: 120%;
                transition: 0.3s ease-in-out;
            }

            .the-product .product-card:hover .rektangeln {
                top: 0;
            }

                .the-product .product-card .rektangeln .card-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                }
                    .the-product .product-card .rektangeln .card-menu li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        left: 170px;
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        background-color: var(--color-white);
                        list-style: none;
                        margin: 0.4rem;
                        transition: 0.3s ease-in-out;
                    }
                        .the-product .product-card .rektangeln .card-menu li:hover {
                            background-color: var(--color-dark);

                        }
                            .the-product .product-card .rektangeln .card-menu li i {
                                color: var(--color-dark);
                                transition: 0.3s ease-in-out;
                            }
                                .the-product .product-card .rektangeln .card-menu li:hover i {
                                    color: var(--color-white);
                                }

                        .the-product .product-card .rektangeln button {
                        position: absolute;
                        width: 255px;
                        height: 50px;
                        background-color: var(--color-red);
                        color: var(--color-white);
                        border: none;
                        font-family: var(--font-poppins);
                        font-size: var(--font-size-14);
                        font-weight: var(--font-weight-regular);
                        transition: 0.3s ease-in-out;
                    }
                        .the-product .product-card .rektangeln button:hover {
                            background-color: var(--color-red-hover);
                        }


        .the-product .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

            .the-product .card-body div {
                font-family: var(--font-poppins);
                font-size: var(--font-size-13);
                font-weight: var(--font-weight-medium);
                color: var(--color-gray-3);
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            .the-product .card-body p {
                font-family: var(--font-poppins);
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-semibold);
                color: var(--color-dark);
                margin-bottom: 0.2rem;
            }
            .the-product .card-body div i {
                color: var(--color-red);
                margin-bottom: 0.2rem;
            }
            .the-product .card-body .price {
                font-family: var(--font-poppins);
                font-size: var(--font-size-18);
                font-weight: var(--font-weight-semibold);
                color: var(--color-dark)
            }
                .the-product .card-body .price span {
                    text-decoration: line-through;
                    font-family: var(--font-poppins);
                    font-size: var(--font-size-16);
                    font-weight: var(--font-weight-regular);
                    color: var(--color-gray-3);
                }


/* webshop info  start */
.webshop-2 .webshop-info .webshop-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-1 {
        margin-left: -0.75rem;
    }

    .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-1 h1 {
        top: 100px;
        left: 480px;
        color: var(--color-white);
    }
        .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-1 h1 span {
            display: block;
        }

        .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-1 button {
            left: 480px;
            top: 250px;
        }

    .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 {
        margin-right: -0.75rem;
    }

        .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 h1 {
            top: 100px;
        }
        .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 button {
            top: 250px;
            background-color: var(--color-white);
            color: var(--color-dark);
        }
            .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 button:hover {
                background-color: var(--color-gray-1);

            }
                .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 button .corner-top-left {
                    border-left: 2px solid var(--color-dark);
                    border-top: 2px solid var(--color-dark);
                }
                .webshop-2 .webshop-info .webshop-info-body .webshop-info-body-2 button .corner-bottom-right {
                    border-right: 2px solid var(--color-dark);
                    border-bottom: 2px solid var(--color-dark);
                }


.speciality-background {
    height: 410px;
    margin-top: 2rem;
}
    .speciality-background .speciality-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--font-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-bold);
        color: var(--color-light-dark);
        padding-top: 3rem;
    }

        .speciality-background .speciality-body {
           display: flex; 
           justify-content: space-evenly;
           align-items: center;
           margin-top: 2rem;
        }
            .speciality-background .speciality-text {
                display: flex;
                justify-content: center;
                align-items: center;
            } 
                .speciality-background .speciality-text .speciality-info {
                    height: 245px;
                    width: 245px;
                    background-color: var(--color-white);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding-left: 2.3rem;
                }
                    .speciality-background .speciality-text .speciality-info h3 {
                        font-family: var(--font-poppins);
                        font-size: var(--font-size-20);
                        font-weight: var(--font-weight-semibold);
                        color: var(--color-light-dark);
                        padding-bottom: 0.6rem;
                    }
                    .speciality-background .speciality-text .speciality-info a {
                        font-family: var(--font-poppins);
                        font-size: var(--font-size-16);
                        font-weight: var(--font-weight-semibold);
                        color: var(--color-dark);
                    }
                .speciality-background .speciality-text div {
                    height: 245px;
                    width: 245px;
                    background-color: var(--color-gray-1-5);
                }

.twofor {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

    .twofor .twofor-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 825px;
        height: 664px;
        background-color: var(--color-gray-1-5);
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
        .twofor .twofor-body .twofor-text {
            font-family: var(--font-poppins);
            font-size: var(--font-size-45);
            font-weight: var(--font-weight-bold);
            color: var(--color-white);
            padding: 2rem;
        }
            .twofor .twofor-body .corner-top-left {
                border-top: 2px solid var(--color-light-dark);
                border-left: 2px solid var(--color-light-dark);

            }
            .twofor .twofor-body .corner-bottom-right {
                border-bottom: 2px solid var(--color-light-dark);
                border-right: 2px solid var(--color-light-dark);
            }
.twofor .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

    .twofor .grid-2 .the-product .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

.twofor-2 .twofor {
    display: flex;
    justify-content: end;

}




footer {
    background-color: var(--color-gray-0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
    footer .socialmedia {
        margin-bottom: 25px;
    }
        footer .socialmedia i {
            font-size: var(--font-size-20);
            color: var(--color-dark);
            margin-left: 10px;
            margin-right: 10px;
        }






/* Contact us sidan nedan */
        .breadcrumb {
            margin-top: 20px;
        }                            
            .breadcrumb .container {
                max-width: 1110px;
            }
                .breadcrumb .breadcrumb-list {
                    list-style: none;
                    margin: 0 0 40px 0;
                    padding: 0;
                }
                    .breadcrumb .breadcrumb-list li {
                        display: inline-block;
                        font-family: var(--font-poppins);
                        font-size: var(--font-size-16);
                        font-weight: var(--font-weight-medium);
                        color: var(--color-dark);
                    }
        
        .map {
            margin-bottom: 4rem;
        }
            .map .google-map {
                width: 100%;
                height: 380px;
            }
        
        .contact {
            margin-top: 4rem;
        }
            .contact .container {
                max-width: 1110px;
            }
        
            .contact h2 {
                font-family: var(--font-poppins);
                font-size: var(--font-size-18);
                font-weight: var(--font-weight-bold);
                color: var(--color-light-dark);
                margin-bottom: 2rem;
            }
            .contact .contact-form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;
                margin-bottom: 60px;
            }
                .contact .contact-form .errorMessage {
                   margin-top: 5px;
                   color: var(--color-red);
                   font-size: 0.8em; 
                }
        
                .contact .contact-form .error {
                    color: var(--color-red);
                    border: 1px solid var(--color-red);
         
                }
        
                .contact .contact-form input {
                    padding: 18px 20px;
                    border: 1px solid var(--color-gray-1-5);
                    width: 100%;
                }
        
                .contact .contact-form .textarea {
                    grid-column: 1 / -1;
                }
        
                .contact .contact-form textarea {
                    padding: 18px 20px;
                    border: 1px solid var(--color-gray-1-5);
                    resize: none;
                    min-height: 140px;
                    width: 100%;
                }
                    .contact .contact-form div button {
                        background-color: var(--color-red);
                        color: var(--color-white);
                        width: 200px;
                        height: 50px;
                        padding: 0;
                    }
        
                        .contact .contact-form div button:hover {
                            background-color: var(--color-red-hover);
                        }