@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-white:           #FFFFFF;
    --color-gray-0:          #F5F5F5;
    --color-gray-1:          #E6E6E6;
    --color-gray-1-5:        #BBBBBB;
    --color-gray-2:          #BEBEBE;
    --color-gray-3:          #616365;
    --color-light-dark:      #222529; 
    --color-dark:            #23262A;
    --color-dark-shadow:     rgba(0, 0, 0, 0.06);
    --color-red:             #FF7373;
    --color-red-hover:       #ff0000;

    --font-poppins:         'poppins', 'sans-serif';
    
    --font-weight-regular:   400;
    --font-weight-medium:    500;
    --font-weight-semibold:  600;
    --font-weight-bold:      700;
    --font-weight-extrabold: 800;
    
    --font-size-13:          13px;
    --font-size-14:          14px;
    --font-size-16:          16px;
    --font-size-18:          18px;
    --font-size-20:          20px;
    --font-size-45:          45px;
    --font-size-65:          65px;

    --max-width:             1680px;
}

/* GENERAL */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-regular);
    color: var(--color-dark);
}

@media (min-width: 1600px) {
    .container {
        max-width: var(--max-width);
    }
}

.gradient-gray {
    background: var(--color-gray-1);
    background: linear-gradient(90deg, var(--color-gray-1) 0%, var(--color-gray-0) 100%);
}

.corner-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    border-left: 2px solid var(--color-white);
    border-top: 2px solid var(--color-white);
}

.corner-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white); 
}

.btn {
    position: relative;
    background-color: var(--color-white);
    color: var(--color-light-dark);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    padding: 1.2rem 3.5rem 1.2rem 3.5rem;
    border: none;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    background-color: var(--color-gray-1);
}

/* Top menu start */
.top-menu {
    background-color: var(--color-white);
}

.top-menu .top-menu-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Top menu brand */
    .top-menu .top-menu-body .brand a {
        text-decoration: none;
        color: var(--color-light-dark);
        font-family: var(--font-poppins);
        font-weight: var(--font-weight-bold);
        font-size: 35px;
    }
/* Top menu navbar */
    .top-menu .top-menu-body .navbar a {
        text-decoration: none;
        color: var(--color-light-dark);
        font-family: var(--font-poppins);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-medium);
        padding: 1rem;
        transition: 0.3s ease-in-out;
    } 
        .top-menu .top-menu-body .navbar a:hover {
            color: var(--color-gray-3);
        }

        .top-menu .top-menu-body .navbar a .navbar-home {
            color: var(--color-red);
            transition: 0.3s ease-in-out;
        }
            .top-menu .top-menu-body .navbar a .navbar-home:hover {
               color: var(--color-red-hover)
            }
/* Top menu checkout links */
    .top-menu .top-menu-body .checkout-links {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
        .top-menu .top-menu-body .checkout-links .checkout-links-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--color-white);
            margin: 0.5rem;
            box-shadow: 0 0 6px 4px var(--color-dark-shadow);
            transition: 0.3s ease-in-out;
        }

            .top-menu .top-menu-body .checkout-links .checkout-links-circle:hover {
                background-color: var(--color-gray-1);
            }

                .top-menu .top-menu-body .checkout-links .checkout-links-circle a {
                    color: var(--color-dark);
                }

                    .top-menu .top-menu-body .checkout-links .checkout-links-circle #quantity {
                        position: relative;
                    }
                        .top-menu .top-menu-body .checkout-links .checkout-links-circle #quantity .badge {
                            background-color: var(--color-red);
                            position: absolute;
                            top: -1rem;
                            left: 0.7rem;
                            font-weight: var(--font-weight-medium);
                            transition: 0.3s ease-in-out;
                        }
                            .top-menu .top-menu-body .checkout-links .checkout-links-circle:hover #quantity .badge {
                                background-color: var(--color-red-hover)
                            }


.breadcrumb {
    margin-top: 20px;
}                            
    .breadcrumb .container {
        max-width: 1110px;
    }
        .breadcrumb .breadcrumb-list {
            list-style: none;
            margin: 0 0 40px 0;
            padding: 0;
        }
            .breadcrumb .breadcrumb-list li {
                display: inline-block;
                font-family: var(--font-poppins);
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-medium);
                color: var(--color-dark);
            }

.map {
    margin-bottom: 4rem;
}
    .map .google-map {
        width: 100%;
        height: 380px;
    }

.contact {
    margin-top: 4rem;
}
    .contact .container {
        max-width: 1110px;
    }

/* min del nedan */

.contact-us h1 {
    font-family: var(--font-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    color: var(--color-light-dark);
    margin-bottom: 1.5rem;
}

    .contact-us #contact-us-form .contact_us_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .contact-us #contact-us-form span .contact_name {
            width: 630px;
            padding: 1rem;

            
        }
        .contact-us #contact-us-form span .contact_email {
            width: 630px;
            padding: 1rem;

        }
        .contact-us #contact-us-form .contact_us_comments {
            margin-top: 1.5rem;
        }

        .contact-us #contact-us-form .btn {
            background-color: var(--color-red);
            color: var(--color-white);
            font-family: var(--font-poppins);
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-semibold);
            margin-top: 1.5rem;
        }
